.nav li{
    display: flex;
    justify-content: center;
    padding: 14px;
    text-decoration: none;
    float: left;
}

aside {
    float: right;
    width: 30%;
    
}


.cardpopular li{
    list-style: none;
}


.first{
font-size: 18px;
}

aside h3 {
    font-size: 20px;
}

.body h3{
    font-size: 24px;
}

.card {
    box-sizing: content-box;
    width: 100%;
}
.card h3 {
    font-size: 20px;

}

.card li{
    list-style: none;
}

.subtitle{
 font-size: 18px;   
}

#blogentries h3 {
    font-size: 24px
}

.date{
    font-weight: 100;
}

.card {
    font-size: 12px;
}