footer .wrapper {
    font-size: 20px;
    justify-content: space-between;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer {
    color: #fff;
    background-color: #616161;
}

footer li{
    list-style-type: none;
    font-size: 120%;
    background-color: #616161;
}

footer ul{
    display: flex;
    flex-flow: row nowrap;
}

footer a {
    text-decoration: none;
    color: white;
}

.inactive{
    color: #ccc;
}

.comment{
    background-color: #fff;
}

.comments {
    color: #000;
}
