

footer {
    color: #fff;
    background-color: #616161;
}

footer li{
    list-style-type: none;
    font-size: 120%;
    background-color: #616161;
}

footer ul{
    display: flex;
    flex-flow: row nowrap;
    
}

footer a {
    text-decoration: none;
    color: white;
}

.inactive{
    color: rgb(146, 146, 146);
    background-color: #535353;
    border-radius: 0px;
    box-sizing: border-box;
    border: solid #535353 1px;
    padding: 0.625rem;
}

.comment{
    background-color: #fff;
    padding: 0.625rem;
}

.comments {
    color: #000;
}

.next{
    background-color: black;
    border-radius: 0px;
    box-sizing: border-box;
    border: solid black 1px;
    padding: 0.625rem;
}


.social, li{
    padding: 0.313rem;
}

@media (min-width: 550px) {
    footer .wrapper {
    font-size: 1.25rem;
    justify-content: space-between;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    }
  }
