header {
    padding-top: 30px;
    text-align: center;
    line-height: 50px;
}


.henk, .badge {
    padding: 5px;
    background-color: black;
    color: white;
}

.badge{
    font-weight: bold;
}

.wrapper ul {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2%;
    margin-right: 2%;
}

.wrapper li {
    display: inline;
    font-size: 120%;
}

.wrapper a {
    text-decoration: none;
    color: black;
    padding: 0.08em 0.32em;
}

.nav li:hover {
    background-color: lightgray;
    color: black;
    transition: 0.8s;
    padding: 8px;
}

.active {
    padding: 8px;
    background: lightgray;
    background-clip: border-box; 
}

.caard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 700px;
    margin: 2rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 700px;
    margin: 2rem;
}


.cardpopular{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    margin: 2rem;
}

.cardpopular h3 {
    background-color: #ccc;
    padding: 8px;
}


.tags{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    margin: 2rem; 
}

.tags h3 {
    background-color: #ccc;
    padding: 8px;
}
aside{
   float: right;
}

.henkk{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    margin: 2rem;
}


.button{
    border-radius: 0px;
    box-sizing: border-box;
    border: solid black 1px;
    padding: 5px;
}

.button
{
    color: black;
    padding: 8px;
    border-radius: 0px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    border: black;
    width: 125px;
    text-align: center;
}

.comments{
    
    position: relative;
    left: 550px;
    padding-bottom: 10px;
}

.tag {
    background-color: black;
    color: white;
    padding: 1px;
}
