* {

    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.wrapper {
    max-width: 965px;
    margin: auto;
}

header {
background: linear-gradient(to bottom,  #77a932 0%,#548811 80%,#ebebeb 80%,#ebebeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

header .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header strong {
    color: #fff;
    max-height: 400px;
}

h3 a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#recent section {
    width: calc(100% - 300px);
    margin-right: 50px;
}

#social {
    padding: 0;
    list-style: none;
}

header .wrapper a {
    text-decoration: none;
      color: white; 
}

#einstein {
    position: relative;
    bottom: 50px;
    left: 800px;
}

blockquote {
    font-size: 32px;
    color: lightgray;
}

.active {
    padding: 8px;
    background: #548811;
    background-clip: border-box; 
}

.active :hover {
    background-color: #77a932;
    transition: 2s;

}

h3 a::before {
    content: "▸";
}

.buttontop
{
    margin-top: auto;
}

.button
{
    background-color: #78a933;
    color: white;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    
}

.button:hover{
    background-color: grey;
    transition: 0.5s;
}


#bestelnu {
    text-indent: -9999px;
    background: url("/images/bestelnu.png") no-repeat;
    width: 500px;
    height: 100px;
}


#bestelnu:hover {
    background-image: linear-gradient(to bottom, ) ;
}


aside {
    position: relative;
    left: 800px;
    bottom: 300px;
    width: 250px;
    padding: 10px;
    
}

#social ul a:hover {

    font-weight: bold;
}

#recent {

    display: flex;
    flex-flow: row nowrap;
    
}

#recent section 
{
    width: 300px;
    margin-right: 50px;
    padding-top: 50px;
}

header li {
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    padding-top: 50px;
   
}

header li:hover{
    padding: 8px;
    background: #548811;
    background-clip: border-box;
    transition: 0.5s;
}

footer li {
    list-style-type: none;
}



footer .wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    
}

footer .wrapper h4 {
padding: 50px;
text-transform: uppercase;
}


footer .wrapper a {

    text-decoration: none;
    color: gray;
    display: flex;
    display: inline-block;
}

footer section ul li a:hover {
    text-decoration: underline;
}

footer
{
    background-color: #E5E5E5;
}


section ul 
{
    padding: 0px;
}

section ul li
{
    padding: 5px;
    border-bottom: 1px solid grey;
}


#ctaTwitter
{
    background-image: url("../images/ctaTwitter.png");
    height: 70px;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 10px;
    font-size: 14px;
    text-transform: lowercase;
}

#ctaTwitter::first-letter {
    text-transform: uppercase;

}

#ctaFacebook
{
    background-image: url("../images/ctaFacebook.png");
    height: 70px;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 10px;
    font-size: 14px;
    text-transform: lowercase;
}

#ctaFacebook::first-letter {
    text-transform: uppercase;
}

#ctaNetlog a {
    color: black;

}

#ctaTwitter a {
    color: black;

}

#ctaFacebook a {
    color: black;

}



#ctaNetlog
{
    background-image: url("../images/ctaNetlog.png");
    height: 70px;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 80px;
    padding-top: 10px;
    font-size: 14px;
    text-transform: lowercase;
    
}

#ctaNetlog::first-letter  {
    text-transform: uppercase;
}
.tekst
{
    position: relative;
    left: 85px;
    top: 10px;
}