main{
    display: flex;
}

aside{
    width: 25%;
    margin: 0 auto;
}

.wrapper ul{
    list-style: none;
}

.artikelimg{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.wrapper {
    padding: 5px;
    max-width: 100%;
    width: 63%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    background-color: white;
    box-shadow: 0px 4px 20px 2px #8884;
}
.wrapper h2{
    font-size: 2.4rem;
    text-align: center;
}

.wrapper p{
    margin: 1rem;
}
.meer img{
   max-width: 70%;
}

.meer ul{
    text-align: center;
    list-style: none;

}

.meer li{
    text-align: center;

}

.wrapper img{
    width: 500px;
}

.meer img{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.meer a{
    margin: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
}

.meer a:hover{
    color: lightgray;
    transition: 0.25s;
}

.meer img:hover{
    opacity: 0.5;
}

.meer h3{
    background-color: #f1f1f1;    
    margin: 0px;
    padding: 2rem;
    font-size: 1.5rem;
}

.meer{
    background-color: white;
    justify-content: center;
    box-shadow: 0px 4px 20px 2px #8884;
    margin-bottom: 15px;
    font-size: 18px;    
    margin: 1.25rem auto;
    text-align: center;
}

.title{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
}


