aside {
    width: 40%;
    margin: 0 auto;
}

.artikelimg img {
    width: 50%;
    height: 18.75rem;
}

main .wrapper h2 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 2.4rem;
    text-align: center;
}

.artikelimg {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

main .wrapper {
    padding-bottom: 2rem;
    background-color: white;
    box-shadow: 0px 4px 20px 2px #8884;
    overflow: hidden;
    text-align: center;
}

/* Aside */
aside {
    font-size: 18px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 20px 2px #8884;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.meer, ul, img {
    justify-content: center;
}

.meer img {
    width: 100%;
    height: 9rem;
}

.meer h3 {
    background-color: #ccc8c8;
    padding: 2rem;
    font-size: 1.8rem;
    text-align: center;
}

.meer ul {
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;

}


.meer li+li {
    margin-left: 2rem;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;

}

.meer a {
    text-decoration: none;
    color: black;
}

.meer a:hover {
    color: #0d87b8;
    transition: 0.2s;
}

.meer img:hover {
    color: lightgray;
    transition: 0.25s;
    opacity: 0.9;
}


@media (max-width: 940px) {
    .meer ul {
        justify-content: center;
      display: block;
    }
}

@media (max-width: 450px) {
    .meer img {
        width: 100%;
        height: 100px;
        
     
    }
    
}
@media (max-width: 600px) {
    .meer h3 {
        font-size: 1.2rem;
        
     
    }
    
}


@media (max-width: 350px) {
    .meer h3 {
        font-size: 1rem;
        
     
    }
    
}

@media (max-width: 350px) {
    .meer img {
        width: 80%;
        height: 80px;
        
     
    }
    
}