/*Footer algemeen*/
.footer
{
	background: linear-gradient(to bottom, #0288b1 0%, #00799e, #137491 75%, #135e75 90%, #2c2c2e 100%);
}
.footer> .wrapper
{
	background: linear-gradient(to bottom, #0288b1 0%, #00799e, #137491 75%, #135e75 90%, #2c2c2e 100%);
}

/*Sociale media*/
.social-links ul
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	list-style-type: none;
	padding-top: 20px;
}
.social-links a
{
	border-radius: 10px;
	font-size: 3rem;
	margin: 20px;
}
.social-facebook a
{
	color: #ffff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.social-facebook a:hover
{
	color: #1e50bd;
	transition: 0.2s;
}
.social-twitter a
{
	color: #ffff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.social-twitter a:hover
{
	color: #4ac6eb;
	transition: 0.2s;
}
.social-insta a
{
	color: #ffff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.social-insta a:hover
{
	color: rgb(221, 18, 221);
	transition: 0.2s;
}

/*Navigatie pagina's*/
.quick-links ul
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	list-style-type: none;
	padding-top: 20px;
}
.quick-links a
{
	color: #ffff;
	margin: 20px;
	text-decoration: none;
}
.quick-items a:hover
{
	color: black;
	transition: 0.2s;
}
.outer-footer
{
	color: #ffff;
	padding: 1rem;
	text-align: center;
}

/* Media Queries */

@media (max-width: 200px)
{
	.social-links ul
	{
		display: block;
		flex-flow: row nowrap;
	}
}
@media (max-width: 720px)
{
	footer a
	{
		font-size: 1rem;
	}
}
@media (max-width: 650px)
{
	.quick-links ul
	{
		display: block;
		flex-flow: row nowrap;
		text-align: center;
	}
}