.footer {
  background: linear-gradient(to bottom, #0288b1 0%, #00799e, #137491 75%, #135e75 90%, #2c2c2e 100%);
}

.footer> .wrapper {
  background: linear-gradient(to bottom, #0288b1 0%, #00799e, #137491 75%, #135e75 90%, #2c2c2e 100%);
}

/* Social links */
.social-links ul {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style-type: none;
}

.social-links a {
  font-size: 3rem;
  border-radius: 10px;
  margin: 20px;
}

.social-facebook a {
  color: #3558a1;
}

.social-facebook a:hover {
  color: #1e50bd;
  transition: 0.2s;
}



.social-twitter a{
  color: #55ACEE;
}

.social-twitter a:hover {
  color: #4ac6eb;
  transition: 0.2s;
}

.social-insta a {
  color: rgb(168, 48, 168);
}
.social-insta a:hover {
  color: rgb(221, 18, 221);
  transition: 0.2s;
}

/* quick links */
.quick-links ul {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: center;

}

.quick-links a {
  margin: 20px;
  text-decoration: none;
  color: #ffff;
}

.quick-items a:hover {
  color: black;
  transition: 0.2s;
}

.outer-footer {
  padding: 1rem;
  text-align: center;
  color: #ffff;
}

@media (max-width: 200px) {
  .social-links ul {
      display: block;
      flex-flow: row nowrap;
  }
}

@media (max-width: 650px) {
  .quick-links ul {
    text-align: center;
      display: block;
      flex-flow: row nowrap;
  }
}