.fa {
  padding: 0.625rem;
  font-size: 1.875rem;
  width: 3.125rem;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {

  background: #3558a1;
  color: white;
}

.fa-facebook:hover {
  background-color: #000000;
  transition: 0.8s;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-twitter:hover {
  background-color: #000000;
  transition: 0.8s;
}

.fa-instagram {
  background: rgb(168, 48, 168);
  color: white;

}

.fa-instagram:hover {
  background-color: #000000;
  transition: 0.8s;
}

.contact {
  color: black;
}

.inner-footer {
  margin: 0;
  padding: 0;
  background-color: rgb(2, 136, 177);
}

.social-links {
  display: flex;

}

.social-links ul {
  padding: 0.625rem;
  display: flex;
  max-width: 100%;
  width: 15%;
  height: 80%;
  max-height: 100%;
  margin: auto;
}

.social-items {
  list-style: none;
}

.social-items a {
  padding: 0.625rem 1.25rem;
  font-size: 2.188rem;

}

.quick-links {
  display: flex;
  max-width: 100%;
  width: 29%;
  max-height: 100%;
  margin: auto;

}


.quick-items {
  list-style: none;
}

.quick-items a {
  display: flex;
  text-decoration: none;
  padding: 0rem 0.938rem;
  font-size: 0.875rem;
  color: white;
  transition: all .25s;

}

.quick-items a:hover {
  color: black;
}


.outer-footer {
  padding: 0.625rem;
  text-align: center;
  color: white;
  font-size: 1.125rem;
  background: linear-gradient(to bottom, #0288b1 0%, #00799e, #137491 75%, #135e75 90%, #2c2c2e 100%);
  background-color: rgb(19, 94, 117);
}

footer ul {
  list-style-type: none;

}

@media (min-width: 800px) {
  .quick-links ul {
    display: flex;
  }
}