.artikle a {
    background-color: #0d87b8;
    border-radius: 3px;
    color: #fff;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
}

/* Registreer en inlog pagina */
.wrapper {
    padding: 5px;
    max-width: 80%;
    width: 100%;
    margin: 1.25rem auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 4rem;
    background-color: white;
}

.wrapper h2{
    font-size: 2.4rem;
}

.meer li{
    
}

.meer ul{
    justify-content: center;
}

.meer{
    padding: 10px;
    border: 1px solid #0d87b8;;
    border-width: 3px 3px 3px;
    background: #f5f9fc;
    margin: 0.5rem;
    max-width: 100%;
    width: 50%;
    justify-content: center;
}
.artikelimg{
    margin: 5rem;
}

.title{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

.smallwrapper .balk {
    display: flex;
    justify-content: center;
    margin: 1.25rem;
    max-width: 100%;
}

.smallwrapper h2{
    background-color: #0d87b8;
    border-radius: 0.625rem;
    color: #fff;
    padding: 0.625rem;
}

.smallwrapper {
    padding: 5px;
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    background-color: white;
}

.artikle a:hover {
    background-color: black;
    transition: 0.8s;
}

.column{
    text-align: center;
}

.register a {
    background-color: #0d87b8;
    border-radius: 3px;
    color: #fff;
    margin: 0.75rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3.5rem;
    text-decoration: none;

}

.register {
    margin: 1rem auto;
}

.register a:hover {
    background-color: black;
    transition: 0.8s;
}

.privacy a:hover {
    color: rgb(105, 186, 212);
    text-decoration: underline;
}

.privacy a {
    text-decoration: none;
}

form p {
    margin: 2rem;
}

/* Registreer en inlog pagina */