/*Algemeen header*/
header {
    text-align: center;
}

header img {
    justify-content: center;
}

nav {
    background-color: rgb(2, 136, 177);
    border-radius: 3rem;
}

/*Navigatie balk*/

.nav__links ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.nav__links li a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: 28px;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #353535;
    transition: 0.2s;
}

/*Inlog en registratielinks*/
.registreer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/*Hamburger mobilenav Op basis van youtube video Rogier van der linde: https://www.youtube.com/watch?v=ruw_w5PB4Rc&list=PLYfkd2Gq0ciEFboXQvzR_e__52tZ4OeXh&index=19 */


#menuToggle {
    display: block;
    left: 50px;
    position: relative;
    top: 20px;
    user-select: none;
    -webkit-user-select: none;
    width: 20%;
    z-index: 1;
}

#menuToggle a {
    color: #232323;
    text-decoration: none;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: rgb(2, 136, 177);
}

#menuToggle input {
    cursor: pointer;
    display: block;
    height: 32px;
    left: -5px;
    opacity: 0;
    position: absolute;
    top: -7px;
    -webkit-touch-callout: none;
    width: 40px;
    z-index: 2;
}

#menuToggle span {
    background: rgb(2, 136, 177);
    border-radius: 3px;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    width: 33px;
    z-index: 1;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    background: #232323;
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    background: #ededed;
    list-style-type: none;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    position: absolute;
    transform: translate(-100%, 0);
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    -webkit-font-smoothing: antialiased;
    width: 300px;
}

#menu li {
    font-size: 22px;
    padding: 10px 0;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* Media Queries */

@media (max-width: 1300px) {
    header {
        font-size: 1.5rem;
        width: 80%;
    }
}

@media (max-width: 765px) {
    header {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .nav__links {
        display: none;
    }

    header {
        width: 100%;
    }

    nav {
        background-color: #F5F5F5;
    }
}

@media (max-width: 650px) {
    #mobilemenu {
        width: 20%;
    }
}

@media (min-width: 650px) {
    #mobilemenu {
        display: block;
    }

    #menuToggle {
        display: none;
    }

    #menu {
        display: none;
    }
}