body{
    background-color: #F5F5F5;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


.banner {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}

.wrapper .balk {
    display: flex;
    justify-content: center;
    margin: 20px;
    max-width: 100%;
}

.balk h2 {
    background-color: #0d87b8;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.columns {
    display: flex;
    margin-left: 100px;
}


.column {
    flex: 1;
    margin: 5px;
}


.artikle h3 {
    margin: 10px;
}


.artikle img {
    margin: 15px;
    margin-bottom: 5px;
}

.artikle p {
    text-align: center;
    margin: 10px;
    max-width: 200px;
}

.artikle a {
    background-color: #0d87b8;
    border-radius: 3px;
    color: #fff;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3.5rem;
}

.artikle a:hover {
    background-color: black;
    transition: 0.8s;
}

.artikle {
    margin-right: 15px;
    max-width: 300px;
    margin-bottom: 50px;
}

.wrapper, .banner{
    background-color: white;
}


h3 {
    padding: 0 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }

    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }

    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
}

@media screen and (max-width: 980px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}