/* slider */
.banner {
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    background-color: white;
}

.banner img {
    margin-top: 2rem;
    width: 35rem;
    height: 18.75rem;
}

/* wrapper*/
.wrapper {
    padding: 5px;
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    background-color: white;
}


.wrapper .balk {
    display: flex;
    justify-content: center;
    margin: 1.25rem;
    max-width: 100%;
}

.balk h2 {
    background-color: #0d87b8;
    border-radius: 0.625rem;
    color: #fff;
    padding: 0.625rem;
}

/* artikels layout */

.column {
    flex: 1;
    margin: 5px;
}

.columns {
    justify-content: center;
}

.artikle h3 {
    margin-left: 1rem;
}


.artikle img {
    margin: 0.938rem;
    margin-bottom: 5px;
}

.artikle p {
    text-align: center;
    margin: 10px;
    max-width: 100%;
}

.artikle img {
    width: 200px;
}

.artikle a {
    background-color: #0d87b8;
    border-radius: 3px;
    color: #fff;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    text-decoration: none;
}
.artikle a {
    background-color: #0d87b8;
    border-radius: 0.188rem;
    color: #fff;

    padding: 0.313rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    text-align: center;
    text-decoration: none;
}

.artikle a:hover {
    background-color: black;
    transition: 0.5s;
}

.artikle {
    width: 100%;
    max-width: 100%;
    margin-bottom: 3.125%;
}




@media (min-width: 1500px) {
    .columns {
        display: flex;
    }
}