  /* Background free copyright:  <a href='https://pngtree.com/free-backgrounds'>free background photos frompngtree.com</a> */
  /* body{ */
       
    /* background: url("../img/background3.png") no-repeat; */
    /* background-size: cover; */
/* }  */
  @media screen and (max-width: 750px){
      .content{
          flex-basis: 100%;
      }
  }


  /* Header NAVIGATIE */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  
  header{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  

  li, a, button {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
      
  }

  .login {
    color: white;
  }


  header{
     
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      flex-basis: 100%;

  }
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
  }

  .menu{
      background-color: rgb(2, 136, 177);
      display: flex;
      justify-content: center;
      border-radius: 50px;
  }

  .nav__links li {
      display: inline-block;
      padding: 0px 20px;
  }

  .nav__links li a {
      transition: all 0.3s ease 0s;
  }

  .nav__links li a:hover {
    color: #353535;
}
button{
    padding: 9px 25px;
    background-color: rgb(2, 136, 177);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    
    
}

.button1{
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    float: right;
    margin-bottom: 30px;
    
    
}

.button2{
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
button:hover {
    background-color: #000000;
}

.button {
    justify-content: space-evenly;
    
}

.article { 
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box {
    width: 20%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    font-size: auto;
}

@media screen and (max-width:1200px){
    .box{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .box{
        width: 90%;
    }
}

/* Carousel */

.banner {
    width: 500px;
    margin:0 auto;
}

/* Artikels Homepagina */

.articletitel {
    text-align: center;
}

/* Tabel WEERGAVEN */

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);

}

.content-table thead tr {
    background-color: #43AF00;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #F6F3F3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #43AF00;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #43AF00;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
 
  /* Footer */
  .footer {
    flex-basis: 100%;
}
  


  .fa-facebook {
    background: #3558a1;
    color: white;
  }
  
 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
 .fa-instagram{
         background: rgb(168, 48, 168);
         color: white;
  }

