  /* Background free copyright:  <a href='https://pngtree.com/free-backgrounds'>free background photos frompngtree.com</a> */
  /* body{ */
       
    /* background: url("../img/background3.png") no-repeat; */
    /* background-size: cover; */
/* }  */
  @media screen and (max-width: 750px){
      .content{
          flex-basis: 100%;
      }
  }


  /* Header NAVIGATIE */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  
  header{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  

  li, a, button {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
      
  }

  .login {
    color: white;
  }


  header{
     
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      flex-basis: 100%;

  }
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
  }

  .menu{
      background-color: rgb(2, 136, 177);
      display: flex;
      justify-content: center;
      border-radius: 50px;
  }

  .nav__links li {
      display: inline-block;
      padding: 0px 20px;
  }

  .nav__links li a {
      transition: all 0.3s ease 0s;
  }

  .nav__links li a:hover {
    color: #353535;
}
button{
    padding: 9px 25px;
    background-color: rgb(2, 136, 177);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    
    
}

.button1{
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    float: right;
    margin-bottom: 30px;
    
    
}

.button2{
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
button:hover {
    background-color: #000000;
}

.button {
    justify-content: space-evenly;
    
}



/*main*/
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/* Carousel */

.banner {
    width: 500px;
    margin:0 auto;
}

/* Artikels Homepagina geleerd op basis van youtube video: https://www.youtube.com/watch?v=OVINJ5qSp6o */
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
    
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    margin: 2px;
    padding: 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-left: 0;
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
}
@media screen and (max-width: 980px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}
/* Tabel WEERGAVEN */

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(163, 152, 152, 0.15);

}

.content-table thead tr {
    background-color: rgb(2, 136, 177);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid rgb(2, 136, 177)
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #F6F3F3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(2, 136, 177)
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: rgb(2, 136, 177)
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .privacy {
      color: #55ACEE;
      text-decoration: underline;
  }
 
  /* Footer */
  .footer {
    flex-basis: 100%;
}
  
  .fa-facebook {
      
    background: #3558a1;
    color: white;
  }
  
 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
 .fa-instagram{
         background: rgb(168, 48, 168);
         color: white;
  }


  footer {
      background-color: #F2F2F2;
  }
